.add {
    width: 100%;
    height: 55px;

    background-color: #7efff5;
}

.box {
    width: 100%;
    height: 585px;

    display: flex;
    flex-direction: row;
}

.box .box__col1 {
    width: 8%;
    height: 585px;

    background-color: #ffcccc;
}

.box .box__col2 {
    width: 92%;
    height: 585px;

    display: flex;
    flex-direction: row;
}

.box .box__col2 .box__col2__sec1 {
    width: 91%;
    height: 585px;

    background-color: #fffa65;
}

.box .box__col2 .box__col2__sec2 {
    width: 9%;
    height: 585px;

    display: flex;
    flex-direction: column;
}

.box .box__col2 .box__col2__sec2__app1 {
    width: 100%;
    height: 500px;

    background-color: #cd84f1;
}

.box .box__col2 .box__col2__sec2__app2 {
    width: 100%;
    height: 85px;

    background-color: #32ff7e;
}